h1 {
    font-size: 50;
    font-family: sans-serif;
    padding: 3px;
    margin: 3px;
    font-weight: 3;
    text-decoration: underline;
    color: red;
    background-color: blue;
}

h2 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-color: ;
    background-image: url();
    height: ;
    width: ;
}
